.About_Page_Gaiyou{
    height: 18vw;
    background-image: url("/jouhouhangaiyou.png");
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color:white;
    text-shadow:
      5px 0 0 black,
      0 5px 0 black,
      -5px 0 0 black,
      0 -5px 0 black;
    text-align: center;
}