
.Headerkun{
    background-color:slateblue;
    color:white;
    width: 100%;
}
.headerbig{
    font-size: 1.5vw;
    width: 100%;
    transform: skewX(-20deg);
    display: inline-block;
}
.official_button{
    /*margin-left: 5vw;*?
    /*max-width: fit-content;*/
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 5vw;
    display: table;
}
.official_button_a{
    display: table-cell;
    vertical-align: middle;
}