
.Index_Page_Gaiyou{
    height: 18vw;
    background-image: url("/jouhouhangaiyou.png");
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color:white;
    text-shadow:
      5px 0 0 black,
      0 5px 0 black,
      -5px 0 0 black,
      0 -5px 0 black;
    text-align: center;
}
.siteitiran{
    text-align: center;
}
.aboutkun{
    transform: skewX(-20deg);
    display: inline-block;
    color:#0099ff;
    text-decoration:underline;
}
.content{
}
.paddingkun{
    height: 3vw;
}
.PageCont{
    text-align: center;
}
.Cardkun{
    border-radius: 0.7vw;
    background-color: #666666;
}
.Cardcontent{
    color:white
}
.CardTitle{   
    text-align: center;
}
.innerkun{
    display: flex;
    justify-content: center;
    align-items: center;
}